lib-cov
*.seed
*.log
*.log.*
*.dat
*.out
*.pid
*.gz
*.swp
.tmp
pids
results
tmp

npm-debug.log
node_modules
.idea
*.iml
.DS_Store
Thumbs.db
dump
.sass-cache
.nvmrc
html
bower_components
package-lock.json
.swagger-codegen
